/**
 * As project grows, here will appear some atomic-css utility classes from Tailwind.
 * See more: https://tailwindcss.com/docs
 */

.hidden {
    display: none;
}

.columns {
    display: flex;
}

    .columns div {
        flex: 25%;
        font-size: 14px;
        padding: 0 4px;
    }
