/**
 * As project grows, here will appear some atomic-css utility classes from Tailwind.
 * See more: https://tailwindcss.com/docs
 */

.hidden {
    display: none;
}

.col-span-full {
    grid-column: 1 / -1;
}

.accent-green {
    color: var(--spore-accent-green);
}

.accent-orange {
    color: var(--spore-accent-orange);
}

.accent-purple {
    color: var(--spore-accent-purple);
}

.accent-green-bg {
    background: var(--spore-accent-green-gradient);
}

.accent-orange-bg {
    background: var(--spore-accent-orange-gradient);
}

.accent-purple-bg {
    background: var(--spore-accent-purple-gradient);
}

.columns {
    display: flex;
}

    .columns div {
        flex: 25%;
        font-size: 14px;
        padding: 0 4px;
    }
