<nav id="main-nav-buttons">
    <a class="button button-large accent-green-bg col-span-full" href="installation">Mod Installation Guide</a>
    <a class="button button-large accent-purple-bg col-span-full" href="developers">Developer Guide</a>
    <a class="button button-large accent-orange-bg" href="help">Help</a>
    <a class="button button-large accent-orange-bg" href="about">About</a>
    <a class="button button-large accent-orange-bg" target="_blank" rel="noopener noreferrer" href="https://discord.gg/YUcJWtb">Discord</a>
</nav>