<nav id="main-nav-buttons">
    <a class="button button-large button-accent-green col-span-full" href="installation">Mod Installation Guide</a>
    <a class="button button-large button-accent-purple col-span-full" href="developers">Developer Guide</a>
    <a class="button button-large button-accent-orange" href="help">Help</a>
    <a class="button button-large button-accent-orange" href="about">About</a>
    <a class="button button-large button-accent-orange" target="_blank" rel="noopener noreferrer" href="https://discord.gg/YUcJWtb">Discord</a>
</nav>